.content {
  a {
    background-image: linear-gradient(transparent 50%,#fcb711 0);
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: no-repeat;
    transition: all .15s ease;

    &:hover,
    &:focus {
      background-size: auto 200%;
    }
  }
}

footer {
  a {
    @apply underline;
  }
}

.nav-menu {
  @apply p-4 mb-4 bg-unity-purple bg-opacity-25;

  margin-top: -3rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  @screen md {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  @screen lg {
    @apply m-0 p-0 bg-transparent;
  }
}
